*{
    padding: 0;
    margin: 0;
    border:none;
}

html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "header header header"
                          "aside main main"
                          "aside main main";
    background-color: #181B23;
    overflow: hidden;
}

header{
    grid-area: header;
    
}



.header-container{
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
}

.logo{
    padding: 1rem;
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.logo > i{
    margin-right: 5px;
    color: #74a5f8;
}

.logo > span{
    letter-spacing: 1px;
    color: whitesmoke;
}


.btt-settings{
    color: whitesmoke;
    font-size: 1.6rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50rem;
    transition: background .3s;
}

.btt-settings:hover{
    filter: brightness(0.8);
    background-color: #d1d2d618;
}

.btt-settings > i{
padding: 0rem 1.2rem;
}

main{
    padding: 2rem 3rem;
    grid-area: main;
    background-color: #1F2029;
    border-top-left-radius:1rem;
    
}

.title-container{
    padding: 1rem;

}

.title-container > div{
    margin: 0 auto;
    max-width: 1300px;
}

.title-container > div > span{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #b3b2b2;
    
}

.chart-container{
    padding: 1rem 2rem;
    max-width: 500px;
    height: 33vh;
    border-radius: 0.5rem;
    background-color: #23242e;
}

canvas{
    width: 100%;
}

aside{
    padding: 2.4rem 4rem;
    grid-area: aside;
    font-family: 'Open Sans', sans-serif;
}

aside > span{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(163, 162, 162);
}

.subtitle{
    font-size: 1.1rem;
    margin-left: 1.3rem;
}
.menu{
    margin-left: 0.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.menu-item-default{
    padding: 1rem;
    list-style: none;
    font-size: 1.33rem;
    font-weight: 600;
    color: rgb(241, 241, 241);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: color .125s ease-in;
}



.menu-item-default--transition:hover{
    color: rgb(74, 110, 228);
    background-color: #a8a8a818;
}

.menu-item-default > i {
    margin-right: 1rem;
}

.menu-item-default + .menu-item-default{
    margin-top: 0.2rem;
    
}

.led-button-item{
    display: flex;
    justify-content: space-between;
}

.led-button-item:hover{
    background-color: #a8a8a818;
}

.led-button-item > div > i{
    margin-right: 1rem;
}


.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.status-item{
    background-color: #23242e;
}

.status-item:nth-child(1){
    margin-bottom: 1rem;
}

.status-item > div > i{
    margin-right: 1.2rem;
    
}

.status-item > div > span{
    font-weight: 400;
}

.connected{
    color: #44d10c;
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

.disconnected{
    color: #ce260c;
    transform: scale(1);

}
footer{
    display: none;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

footer > nav{
    padding: 1.4rem 2rem;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer > nav > button{
    width: 100%;
    max-width: 180px;
    min-width: 130px;
    padding: 1.2rem 1rem;
    border-radius: 20px;
    background-color: #05cf05;
    color: whitesmoke;
    cursor: pointer;
    transition: filter .2s;
}

footer > nav > button:hover{
    filter: brightness(0.9);
}
footer > nav > button > i{
    margin-right: 5px;
}
footer > nav > button > span{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.3px;
}

/* Animações*/

/* ----------------------------------------------
 * Generated by Animista on 2022-11-26 20:3:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.50);
              transform: scale(0.50);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: center center;
                transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
      10% {
        -webkit-transform: scale(0.50);
                transform: scale(0.50);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      }
      
      45% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
  }
  
