*{
    padding: 0;
    margin: 0;
    border:none;
}

html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "header header header"
                          "aside main main"
                          "aside main main";
    background-color: #181B23;
    overflow: hidden;
}

header{
    grid-area: header;
    
}



.header-container{
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
}

.logo{
    padding: 1rem;
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.logo > i{
    margin-right: 5px;
    color: #74a5f8;
}

.logo > span{
    letter-spacing: 1px;
    color: whitesmoke;
}


.btt-settings{
    color: whitesmoke;
    font-size: 1.6rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50rem;
    transition: background .3s;
}

.btt-settings:hover{
    filter: brightness(0.8);
    background-color: #d1d2d618;
}

.btt-settings > i{
padding: 0rem 1.2rem;
}

main{
    margin: 2rem;
    padding: 3rem;
    grid-area: main;
    background-color: #1F2029;
    border-radius:1rem;
    max-width: 995px;
    max-height: 483px;
}

.title-container > div{
    margin: 0 auto;
    max-width: 1300px;
}

.title-container > div > span{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #b3b2b2;
    
}

.chart-container{
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    height: 28vh;
    border-radius: 0.5rem;
    background-color: #23242e;
}

aside{
    padding: 3rem 4rem;
    grid-area: aside;
    font-family: 'Open Sans', sans-serif;
}

aside > span{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(163, 162, 162);
}

.subtitle{
    display: block;
    font-size: 1.1rem;
    margin-left: 1.3rem;
}
.menu{
    margin-left: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.menu-item-default{
    padding: 1rem;
    list-style: none;
    font-size: 1.33rem;
    font-weight: 600;
    color: rgb(241, 241, 241);
    border-radius: 0.5rem;
    transition: color .125s ease-in;
}

.cursor{
    cursor: pointer;
}

.menu-item-default--transition:hover{
    color: rgb(175, 188, 233);
    background-color: #a8a8a818;
}

.menu-item-default.active{
    color: rgb(74, 110, 228);
}

.menu-item-default > i {
    margin-right: 1rem;
}

.menu-item-default + .menu-item-default{
    margin-top: 0.2rem;
    
}

.interval-container{
    background-color: #23242e;
}

.interval-container:nth-child(1){
    margin-bottom: 1rem;
}

.interval-container:nth-child(1) > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
}



.interval-container > span{
    display: block;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: rgb(163, 162, 162);
}



#interval{
    width: 100%;
    height: 4px;
}

.radio-group{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio-group > div > label{
    display: block;
    padding: 0.5rem;
    width: 30px;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1.5px;
    border-radius: 0.5rem;
    border: 2px solid rgba(157, 180, 255, 0.164);
}

.send-button{
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(157, 180, 255, 0.164);;
    color: whitesmoke;
    font-size: 1.1rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.interval-container > button > span{
    margin-right: 0.5rem;
}

.radio{
    display: none;
}

.radio--checked{
    background-color: rgb(74, 110, 228);
}

.led-button-item{
    display: flex;
    justify-content: space-between;
}

.led-button-item:hover{
    background-color: #a8a8a818;
}

.led-button-item > div > i{
    margin-right: 1rem;
}


.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
}
  
/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
}

.slider:before {
position: absolute;
content: "";
height: 12px;
width: 12px;
left: 4px;
bottom: 4px;
background-color: white;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(10px);
-ms-transform: translateX(10px);
transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.status-item{
    padding: 5px;
    background-color: #23242e;
    font-size: 1.2rem;
}

.status-item:nth-child(1){
    margin-bottom: 1rem;
}

.status-item > div > i{
    margin-right: 1.2rem;
    
}

.status-item > div > span{
    font-weight: 400;
}

.connected{
    color: #44d10c;
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

.disconnected{
    color: #ce260c;
    transform: scale(1);

}

.sensors-container{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4,150px);
    justify-content: space-between;
    row-gap: 2rem;
}

.sensor-container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    letter-spacing: 0.5px;
    background-color: #a8a8a818;
    border-radius: 1rem;
}

.sensor-container > span:nth-child(1){
    font-weight: 500;
    color:#fff;
}

.sensor-container > span:nth-child(2){
    font-weight: 500;
    color:rgba(255, 255, 255, 0.74);
}

.sensor-container > span:nth-child(3){
    color:rgb(129, 129, 129);
}

#modal{
    visibility: hidden;
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.3);

}
#content-modal{
    margin-right: 20px;
    padding: 30px;
    width: 150px;
    height: 250px;
    background-color: #1f232c;
    border-radius: 10px;
    font-family: 'Open Sans',sans-serif;
}

#content-modal > span{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.list-active-sensors{
    width: 100%;
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.active-sensors-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

#modal.active{
    visibility: visible;
}


/* Animações*/

/* ----------------------------------------------
 * Generated by Animista on 2022-11-26 20:3:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.50);
              transform: scale(0.50);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: center center;
                transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
      10% {
        -webkit-transform: scale(0.50);
                transform: scale(0.50);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
      }
      
      45% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
  }
  
